  ////////////////////
 /// TEXT STYLING ///
////////////////////

%no-mar-pad {
	margin: 0;
	padding: 0;
}

html, body {
	@extend %no-mar-pad;

}

h1,h2,h3,h4,h5,h6,p,a {
	@extend %no-mar-pad;

}

ul {
	@extend %no-mar-pad;

	li {
		list-style: none;
	}
}

a {
	text-decoration: none;

	&:hover,
	&:focus {

	}
}

::selection {
	// keep empty for standard styling
}